.git
.gitignore

.venv
__pycache__
*.py[cod]

.pytest_cache
.mypy_cache
.ruff_cache

.env
.env.*
!.env.docker.example

frontend

tests
evals
benchmarks

data

.DS_Store

README.md

node_modules
.next
